.grid {
    .row {
        .about-us {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            margin: 3.5rem 4rem;
            grid-column-gap: 0rem;
            .about-pic {
                height: 380px;
                width: 400px;
                position: relative;
                .abtImg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 10;
                }
                #about-bgImg{
                    position: absolute;
                    left: -70px;
                    top: -70px;
                    width: 150px;
                    height: 150px;
                    z-index: -1;
                }
            }
            .about-para {
                max-width: 400px;
                font-size: 18px;
                line-height: 28px;
                h2 {
                    color: $dark01;
                    line-height: 60px;
                }
                p {
                    a {
                        color: $primary;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
