.grid {
    .row {
        h2 {
            text-align: center;
            line-height: 60px;
        }
        .delivery {
            display: grid;
            margin: 1fr;
            grid-template-columns: 1.3fr 1fr;
            grid-template-rows: auto auto;
            grid-column-gap: 1rem;
            .delivery-img {
                width: auto;
                height: auto;
            }
            .delivery-contact {
                .cont1 {
                    margin-top: 3rem;
                    .circle {
                        width: 48px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: $primary;
                        color: #fff;
                        padding: 10px;
                        font-size: 16px;
                        margin-right: 0.5rem;
                    }
                    .call1{
                        color: $textColor1;
                    }
                }
            }
        }
    }
}
