.menu-section {
  background-image: url("../images/menu-bg.png");
  position: relative;
  margin: 4rem auto;
  padding: 4rem auto;
  padding-bottom: 90px;
  .menu-img-main{
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-img {
      position: absolute;
      top: -90px;
      // margin: auto 8rem;
      margin: 2rem auto;
      max-width: 70vw;
      margin-top: -4rem;
      background-color: $primary;
      padding: 4rem 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4rem;
      box-shadow: 0px 6px 12px #cbcbcb;
      .menu1 {
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        img{
          height: 100px;
        }
        div p{
          margin: 1rem auto;
        }
      }
    }
  }
  h2 {
    text-align: center;
    padding-top: 10rem;
  }
  .side-table {
    .main-table {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 4rem;
      .tab {
        .grid {
          .tablinks {
            border: none;
            background-color: transparent;
            margin: 1rem;
            font-size: 24px;
            cursor: pointer;
          }
          .active,
          .tablinks:hover {
            color: #fd5f00;
            border-bottom: 3px solid #fd5f00;
          }
          .tablinks:focus {
            outline: none;
        }
        }
      }
    }
  }
  #menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 120px 120px 120px;
    grid-gap: 2rem 4rem;
    padding: 2rem 4rem;
    .list1 {
      // background-color: red;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: auto;
      .list-pic {
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .list-content {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        justify-content: center;
        text-align: start;
        span {
          font-weight: 600;
        }
        .list-title {
          color: $textColor1;
          font-size: 16px;
        }
      }
    }
  }
}
