@media screen and (max-width:1024px){
    .row{
        margin: 0 120px;
    }
}
@media screen and (max-width:768px){
    .row{
        margin: 0 60px;
    }
}
@media screen and (max-width:576px){
    .row{
        margin: 0 30px;
    }
}