/* Berkshire Google Font */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* Font Sizing */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Berkshire Swash;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}