/* Colors */
$primary: #fd5f00;
$black: #000000;
$dark01: #444444;
$dark02: #727272;
$dark03: #aaaaaa;
$light01: #cdcdcd;
$light02: #f3f3f3;
$white: #ffffff;
$textColor:#707070;
$textColor1:#989898;
$footer:#070707;

.primary {
    color: $primary;
}