/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700&display=swap");
.primary {
  color: #fd5f00;
}

/* Berkshire Google Font */
/* Font Sizing */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Berkshire Swash;
  color: #444444;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.875rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.grid {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.grid:after,
.row:after {
  clear: both;
}

[class*='col-'] {
  width: 100%;
  float: left;
  min-height: 1px;
}

.col {
  padding: 1em;
  margin: 8px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}

@media screen and (min-width: 320px) {
  .col-wd-1 {
    width: 8.33333%;
  }
  .col-wd-2 {
    width: 16.66667%;
  }
  .col-wd-3 {
    width: 25%;
  }
  .col-wd-4 {
    width: 33.33333%;
  }
  .col-wd-5 {
    width: 41.66667%;
  }
  .col-wd-6 {
    width: 50%;
  }
  .col-wd-7 {
    width: 58.33333%;
  }
  .col-wd-8 {
    width: 66.66667%;
  }
  .col-wd-9 {
    width: 75%;
  }
  .col-wd-10 {
    width: 83.33333%;
  }
  .col-wd-11 {
    width: 91.66667%;
  }
  .col-wd-12 {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cera Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-slider {
  height: 85vh;
  position: relative;
  margin-bottom: 280px;
}

.hero-slider .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-slider .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero-slider .item .cover .hero-slider-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
  padding: 0 2rem;
}

.hero-slider .item .cover .hero-slider-content h6 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}

.hero-slider .item .cover .hero-slider-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}

.hero-slider .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.hero-slider .owl-item.active h6 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.hero-slider .owl-nav .owl-prev {
  position: absolute;
  left: 10%;
  top: 43%;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 50px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  display: block;
  z-index: 1000;
}

.hero-slider .owl-nav .owl-prev:focus {
  outline: 0;
}

.hero-slider .owl-nav .owl-prev:hover {
  background: #000 !important;
}

.hero-slider .owl-nav .owl-prev span {
  font-size: 35px;
  color: #fff;
  border: 2px solid #fff;
  padding: 0 13px;
}

.hero-slider .owl-nav .owl-next {
  right: 10%;
  top: 43%;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  cursor: pointer;
  position: absolute;
  display: block;
  z-index: 1000;
}

.hero-slider .owl-nav .owl-next:focus {
  outline: 0;
}

.hero-slider .owl-nav .owl-next:hover {
  background: #fd5f00 !important;
}

.hero-slider .owl-nav .owl-next span {
  font-size: 35px;
  color: #fff;
  border: 2px solid #fff;
  padding: 0 13px;
}

.hero-slider:hover .owl-prev {
  left: 0px;
  opacity: 1;
}

.hero-slider:hover .owl-next {
  right: 0px;
  opacity: 1;
}

/* Navbar section */
section.mainHeader {
  background-color: #000;
}

.mainHeader.topNav1 {
  margin-top: 40px;
}

.mainHeader.topNav1 nav .container {
  margin: auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  width: 100%;
  height: 90px;
  line-height: 50px;
  text-align: center;
  z-index: 10000;
}

.nav .container-nav {
  margin: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav div.logo {
  width: auto;
  height: auto;
  padding-left: 0px;
  margin-top: 0.5rem;
}

.nav div.logo a img {
  width: 100%;
  height: auto;
}

.nav div.main_list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  padding: 0;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fd5f00;
  line-height: 65px;
  font-size: 18px;
  padding-left: 40px;
}

.nav div.main_list ul li a button {
  padding: 12px 24px;
  border: none;
  background-color: #fd5f00;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.nav div.main_list ul li a button:hover {
  background: #ca4c00;
}

.nav div.main_list ul li a:hover {
  color: white;
}

/* Home section */
.navTrigger {
  display: none;
}

.nav {
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */
@media screen and (max-width: 992px) {
  .nav div.main_list ul li a {
    font-size: 15px;
    padding-left: 35px;
  }
  .nav .container-nav {
    margin: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    height: 30px;
  }
  .navTrigger {
    display: block;
  }
  .nav div.logo a {
    margin-right: 75px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    /*same background color of navbar*/
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: center;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 35px;
    padding: 35px;
  }
  .nav div.media_button {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .nav .container-nav {
    margin: 0 30px;
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: 40px 0 0 0;
  position: absolute;
  right: 30px;
  top: 20px;
  bottom: 0;
}

.navTrigger i {
  background-color: #fd5f00;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

/* CSS for Mobile */
/* Navbar section */
section.mainHeader {
  background-color: #000;
}

.mainHeader.topNav1 {
  margin-top: 40px;
}

.mainHeader.topNav1 nav .container {
  margin: auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  width: 100%;
  height: 90px;
  line-height: 50px;
  text-align: center;
  z-index: 10000;
}

.nav .container-nav {
  margin: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav div.logo {
  width: auto;
  height: auto;
  padding-left: 0px;
  margin-top: 0.5rem;
}

.nav div.logo a img {
  width: 100%;
  height: auto;
}

.nav div.main_list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  padding: 0;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fd5f00;
  line-height: 65px;
  font-size: 18px;
  padding-left: 40px;
}

.nav div.main_list ul li a button {
  padding: 12px 24px;
  border: none;
  background-color: #fd5f00;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.nav div.main_list ul li a button:hover {
  background: #ca4c00;
}

.nav div.main_list ul li a:hover {
  color: white;
}

/* Home section */
.navTrigger {
  display: none;
}

.nav {
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */
@media screen and (max-width: 992px) {
  .nav div.main_list ul li a {
    font-size: 15px;
    padding-left: 35px;
  }
  .nav .container-nav {
    margin: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    height: 30px;
  }
  .navTrigger {
    display: block;
  }
  .nav div.logo a {
    margin-right: 75px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    /*same background color of navbar*/
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: center;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 35px;
    padding: 35px;
  }
  .nav div.media_button {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .nav .container-nav {
    margin: 0 30px;
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: 40px 0 0 0;
  position: absolute;
  right: 30px;
  top: 20px;
  bottom: 0;
}

.navTrigger i {
  background-color: #fd5f00;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

/* CSS for Mobile */
#banner-section .slick-next::before,
#banner-section .slick-prev::before {
  color: gray;
  border-radius: 50%;
  font-size: 30px;
}

#banner-section img {
  width: 100%;
  height: 100%;
}

#banner-section .slick-prev.slick-arrow {
  font-size: 30px;
  color: red;
}

#banner-section .slick-next.slick-arrow {
  color: red;
  font-size: 30px;
}

.grid .row .about-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin: 5.5rem 4rem;
  grid-column-gap: 0rem;
  padding-bottom: 8rem;
}

.grid .row .about-us .about-pic {
  height: 480px;
  width: 400px;
  position: relative;
}

.grid .row .about-us .about-pic .abtImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}

.grid .row .about-us .about-pic #about-bgImg {
  position: absolute;
  left: -70px;
  top: -70px;
  width: 150px;
  height: 150px;
  z-index: -1;
}

.grid .row .about-us .about-para {
  max-width: 400px;
  font-size: 18px;
  line-height: 28px;
}

.grid .row .about-us .about-para h2 {
  color: #444444;
  line-height: 60px;
}

.grid .row .about-us .about-para p a {
  color: #fd5f00;
  text-decoration: none;
}

.menu-section {
  background-image: url("../images/menu-bg.png");
  position: relative;
  margin: 4rem auto;
  padding: 4rem auto;
}

.menu-section .menu-img {
  position: absolute;
  top: -90px;
  margin: auto 8rem;
  margin-top: -4rem;
  background-color: #fd5f00;
  padding: 4rem 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  -webkit-box-shadow: 0px 6px 12px #cbcbcb;
          box-shadow: 0px 6px 12px #cbcbcb;
}

.menu-section .menu-img .menu1 {
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.menu-section h2 {
  text-align: center;
  padding-top: 10rem;
}

.menu-section .side-table .main-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 4rem;
}

.menu-section .side-table .main-table .tab .grid .tablinks {
  border: none;
  background-color: transparent;
  margin: 1rem;
  font-size: 24px;
}

.menu-section .side-table .main-table .tab .grid .active,
.menu-section .side-table .main-table .tab .grid .tablinks:hover {
  color: #fd5f00;
}

.menu-section .side-table .main-table .tab .grid .active:after,
.menu-section .side-table .main-table .tab .grid .tablinks:hover:after {
  content: "";
  width: 23px;
  height: 10px;
  background-color: red;
}

.menu-section #menu-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 120px 120px 120px 120px;
      grid-template-rows: 120px 120px 120px 120px;
  grid-gap: 2rem 4rem;
  padding: 2rem 4rem;
}

.menu-section #menu-list .list1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.menu-section #menu-list .list1 .list-pic {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-section #menu-list .list1 .list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

.menu-section #menu-list .list1 .list-content span {
  font-weight: 600;
}

.menu-section #menu-list .list1 .list-content .list-title {
  color: #989898;
  font-size: 16px;
}

.grid .row.delivery-section {
  margin: 4rem 0;
}

.grid .row.delivery-section h2 {
  text-align: center;
  line-height: 60px;
  margin: 2rem 0;
}

.grid .row.delivery-section .delivery {
  display: -ms-grid;
  display: grid;
  margin: 1fr;
  -ms-grid-columns: 1.2fr 1fr;
      grid-template-columns: 1.2fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-column-gap: 2rem;
}

.grid .row.delivery-section .delivery .delivery-img {
  width: 100%;
  height: 100%;
}

.grid .row.delivery-section .delivery .delivery-contact .cont1 {
  margin-top: 3rem;
}

.grid .row.delivery-section .delivery .delivery-contact .cont1 .circle {
  width: 48px;
  height: 30px;
  border-radius: 50%;
  background-color: #fd5f00;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  margin-right: 0.5rem;
}

.grid .row.delivery-section .delivery .delivery-contact .cont1 .call1 {
  color: #989898;
}

footer {
  margin-top: 4rem;
  background-color: #f3f3f3;
  color: #989898;
  font-family: "Roboto", sans-serif;
}

footer .container .footer-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding-bottom: 45px;
  padding-top: 45px;
  font-family: "Roboto", sans-serif;
}

footer .container .footer-section .quick-links h5 {
  font-weight: 600;
  margin: 15px auto;
  font-family: "Roboto", sans-serif;
}

footer .container .footer-section .quick-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .container .footer-section .quick-links ul li a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 16px;
  color: #989898;
  line-height: 24px;
}

footer .container .footer-section .quick-links ul li a:hover {
  text-decoration: underline;
}

footer .container .footer-section .more-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .footer-section .more-links .float-btn {
  height: 48px;
  width: 48px;
  border: 3px solid #707070;
}

footer .container .footer-section .more-links .float-btn .fas {
  color: #707070;
}

footer .copyright {
  background-color: #070707;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .copyright .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

footer .copyright .grid .copyright-2 span {
  color: #2680eb;
}

.contact-main h2 {
  text-align: center;
  line-height: 60px;
}

.contact-main .grid.contact-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}

.contact-main .grid.contact-div .contact1 {
  position: relative;
}

.contact-main .grid.contact-div .contact1 img {
  position: absolute;
  top: -95px;
  left: -70px;
  z-index: -1;
}

.contact-main .grid.contact-div .contact2 {
  margin-left: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.contact-main .grid.contact-div .contact2 .contact-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */