/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700&display=swap");
.primary {
  color: #fd5f00;
}

/* Berkshire Google Font */
/* Font Sizing */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Berkshire Swash;
  color: #444444;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.875rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.grid {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.grid:after,
.row:after {
  clear: both;
}

[class*='col-'] {
  width: 100%;
  float: left;
  min-height: 1px;
}

.col {
  padding: 1em;
  margin: 8px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .grid {
    padding: auto 120px;
  }
}

@media screen and (max-width: 960px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .col-wd-1 {
    width: 8.33333%;
  }
  .col-wd-2 {
    width: 16.66667%;
  }
  .col-wd-3 {
    width: 25%;
  }
  .col-wd-4 {
    width: 33.33333%;
  }
  .col-wd-5 {
    width: 41.66667%;
  }
  .col-wd-6 {
    width: 50%;
  }
  .col-wd-7 {
    width: 58.33333%;
  }
  .col-wd-8 {
    width: 66.66667%;
  }
  .col-wd-9 {
    width: 75%;
  }
  .col-wd-10 {
    width: 83.33333%;
  }
  .col-wd-11 {
    width: 91.66667%;
  }
  .col-wd-12 {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cera Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mainHeader .topNav,
.mainHeader .mainNav {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader .topNav .side-1,
.mainHeader .mainNav .side-1 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 21px;
}

.mainHeader .topNav .side-1 .nav-item,
.mainHeader .mainNav .side-1 .nav-item {
  font-size: 16px;
  margin-right: 5rem;
}

.mainHeader .topNav .social-icons,
.mainHeader .mainNav .social-icons {
  font-size: 20px;
  margin: 10px 0;
}

.mainHeader .topNav .social-icons i,
.mainHeader .mainNav .social-icons i {
  margin-left: 1.5em;
}

.mainHeader .topNav {
  margin: 0 140px;
  padding-bottom: 8px;
  border-bottom: 1px solid #cbcbcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .mainHeader .topNav {
    display: none;
  }
}

.mainHeader .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 30;
}

.mainHeader div#mainListDiv {
  z-index: 2;
}

/* Navbar section */
section.mainHeader {
  background-color: #000;
}

section.mainHeader nav.topNav {
  color: #fff;
}

section.mainHeader nav.topNav ul.side1 {
  margin: auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  width: 100%;
  height: 90px;
  line-height: 50px;
  text-align: center;
  z-index: 10000;
}

.nav .container-nav {
  margin: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav div.logo {
  width: auto;
  height: auto;
  padding-left: 0px;
  margin-top: 0.5rem;
}

.nav div.logo a img {
  width: 100%;
  height: auto;
}

.nav div.main_list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  padding: 0;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fd5f00;
  line-height: 65px;
  font-size: 18px;
  padding-left: 40px;
}

.nav div.main_list ul li a button {
  padding: 12px 24px;
  border: none;
  background-color: #fd5f00;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.nav div.main_list ul li a button:hover {
  background: #ca4c00;
}

.nav div.main_list ul li a:hover {
  color: white;
}

/* Home section */
.navTrigger {
  display: none;
}

.nav {
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */
@media screen and (max-width: 992px) {
  .nav div.main_list ul li a {
    font-size: 15px;
    padding-left: 35px;
  }
  .nav .container-nav {
    margin: 0 60px;
  }
  .nav {
    height: 50px;
  }
  .navTrigger {
    display: block;
  }
  .nav div.logo a {
    margin-right: 75px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    /*same background color of navbar*/
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: center;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 35px;
    padding: 35px;
  }
  .nav div.media_button {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .nav .container-nav {
    margin: 0 30px;
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: 40px 0 0 0;
  position: absolute;
  right: 30px;
  top: -3px;
  bottom: 0;
}

.navTrigger i {
  background-color: #fd5f00;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

/* CSS for Mobile */
/* Navbar section */
section.mainHeader {
  background-color: #000;
}

section.mainHeader nav.topNav {
  color: #fff;
}

section.mainHeader nav.topNav ul.side1 {
  margin: auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  width: 100%;
  height: 90px;
  line-height: 50px;
  text-align: center;
  z-index: 10000;
}

.nav .container-nav {
  margin: 0 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav div.logo {
  width: auto;
  height: auto;
  padding-left: 0px;
  margin-top: 0.5rem;
}

.nav div.logo a img {
  width: 100%;
  height: auto;
}

.nav div.main_list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  padding: 0;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fd5f00;
  line-height: 65px;
  font-size: 18px;
  padding-left: 40px;
}

.nav div.main_list ul li a button {
  padding: 12px 24px;
  border: none;
  background-color: #fd5f00;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.nav div.main_list ul li a button:hover {
  background: #ca4c00;
}

.nav div.main_list ul li a:hover {
  color: white;
}

/* Home section */
.navTrigger {
  display: none;
}

.nav {
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */
@media screen and (max-width: 992px) {
  .nav div.main_list ul li a {
    font-size: 15px;
    padding-left: 35px;
  }
  .nav .container-nav {
    margin: 0 60px;
  }
  .nav {
    height: 50px;
  }
  .navTrigger {
    display: block;
  }
  .nav div.logo a {
    margin-right: 75px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    /*same background color of navbar*/
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: center;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 35px;
    padding: 35px;
  }
  .nav div.media_button {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .nav .container-nav {
    margin: 0 30px;
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: 40px 0 0 0;
  position: absolute;
  right: 30px;
  top: -3px;
  bottom: 0;
}

.navTrigger i {
  background-color: #fd5f00;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

/* CSS for Mobile */
.hero-slider {
  margin-bottom: 3rem;
  /* Slideshow container */
  /* Fading animation */
}

.hero-slider .slideshow-container {
  max-width: 100vw;
  height: 750px;
  position: relative;
  margin: auto;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
}

.hero-slider .slideshow-container .mySlides {
  display: none;
  /* Caption text */
}

.hero-slider .slideshow-container .mySlides .text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.hero-slider .slideshow-container .mySlides .text h6 {
  font-family: "Cera Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-slider .slideshow-container .mySlides img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-slider .slideshow-container .prev,
.hero-slider .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 3px solid #fff;
}

.hero-slider .slideshow-container .next {
  right: 140px;
  border-radius: 3px 0 0 3px;
}

.hero-slider .slideshow-container .prev {
  left: 140px;
  border-radius: 3px 0 0 3px;
}

.hero-slider .slideshow-container .prev:hover,
.hero-slider .slideshow-container .next:hover {
  background-color: #fd5f00;
}

.hero-slider .active,
.hero-slider .dot:hover {
  background-color: #717171;
}

.hero-slider .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.grid .row .about-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin: 5.5rem 4rem;
  grid-gap: 2rem;
  padding-bottom: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .row .about-us .about-pic {
  height: 480px;
  width: 400px;
  position: relative;
}

.grid .row .about-us .about-pic .abtImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}

.grid .row .about-us .about-pic #about-bgImg {
  position: absolute;
  left: -70px;
  top: -70px;
  width: 150px;
  height: 150px;
  z-index: -1;
}

.grid .row .about-us .about-para {
  max-width: 600px;
  font-size: 18px;
  line-height: 28px;
}

.grid .row .about-us .about-para h2 {
  color: #444444;
  line-height: 60px;
}

.grid .row .about-us .about-para p a {
  color: #fd5f00;
  text-decoration: none;
}

.menu-section {
  background-image: url("../images/menu-bg.png");
  position: relative;
  margin: 4rem auto;
  padding: 4rem auto;
  padding-bottom: 90px;
}

.menu-section .menu-img-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-section .menu-img-main .menu-img {
  position: absolute;
  top: -90px;
  margin: 2rem auto;
  max-width: 70vw;
  margin-top: -4rem;
  background-color: #fd5f00;
  padding: 4rem 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  -webkit-box-shadow: 0px 6px 12px #cbcbcb;
          box-shadow: 0px 6px 12px #cbcbcb;
}

.menu-section .menu-img-main .menu-img .menu1 {
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
}

.menu-section .menu-img-main .menu-img .menu1 img {
  height: 100px;
}

.menu-section .menu-img-main .menu-img .menu1 div p {
  margin: 1rem auto;
}

.menu-section h2 {
  text-align: center;
  padding-top: 10rem;
}

.menu-section .side-table .main-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 4rem;
}

.menu-section .side-table .main-table .tab .grid .tablinks {
  border: none;
  background-color: transparent;
  margin: 1rem;
  font-size: 24px;
  cursor: pointer;
}

.menu-section .side-table .main-table .tab .grid .active,
.menu-section .side-table .main-table .tab .grid .tablinks:hover {
  color: #fd5f00;
  border-bottom: 3px solid #fd5f00;
}

.menu-section .side-table .main-table .tab .grid .tablinks:focus {
  outline: none;
}

.menu-section #menu-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 120px 120px 120px 120px;
      grid-template-rows: 120px 120px 120px 120px;
  grid-gap: 2rem 4rem;
  padding: 2rem 4rem;
}

.menu-section #menu-list .list1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.menu-section #menu-list .list1 .list-pic {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-section #menu-list .list1 .list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

.menu-section #menu-list .list1 .list-content span {
  font-weight: 600;
}

.menu-section #menu-list .list1 .list-content .list-title {
  color: #989898;
  font-size: 16px;
}

.grid .row.delivery-section {
  margin: 4rem 0;
}

.grid .row.delivery-section h2 {
  text-align: center;
  line-height: 60px;
  margin: 2rem 0;
}

.grid .row.delivery-section .delivery {
  display: -ms-grid;
  display: grid;
  margin: 1fr;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-column-gap: 2.5rem;
}

.grid .row.delivery-section .delivery .delivery-img img {
  width: 100%;
  height: 100%;
}

.grid .row.delivery-section .delivery .delivery-contact .cont1 {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .row.delivery-section .delivery .delivery-contact .cont1 .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fd5f00;
  color: #fff;
  font-size: 16px;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .row.delivery-section .delivery .delivery-contact .cont1 .call1 {
  color: #989898;
  margin-right: 0.5rem;
}

footer {
  margin-top: 4rem;
  background-color: #f3f3f3;
  color: #989898;
}

footer .container .footer-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding-bottom: 45px;
  padding-top: 45px;
}

footer .container .footer-section .quick-links h5 {
  font-weight: 600;
  margin: 15px auto;
  font-family: "Cera Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer .container .footer-section .quick-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .container .footer-section .quick-links ul li a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 16px;
  color: #989898;
  line-height: 24px;
}

footer .container .footer-section .quick-links ul li a:hover {
  text-decoration: underline;
}

footer .container .footer-section .more-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .footer-section .more-links #myBtn {
  height: 40px;
  width: 40px;
  border: 3px solid #707070;
}

footer .container .footer-section .more-links #myBtn .fas {
  color: #707070;
}

footer .copyright {
  background-color: #070707;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .copyright .grid1 {
  margin: auto 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

footer .copyright .grid1 .copyright-2 span {
  color: #2680eb;
}

.contact-main {
  padding: 2rem 8rem;
}

.contact-main h2 {
  text-align: center;
  line-height: 60px;
  margin: 3rem auto;
}

.contact-main .contact-map {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 500px auto;
      grid-template-rows: 500px auto;
  grid-column-gap: 2rem;
}

.contact-main .contact-map .contact1 {
  position: relative;
}

.contact-main .contact-map .contact1 iframe {
  width: 100%;
  height: 100%;
}

.contact-main .contact-map .contact1 img {
  position: absolute;
  top: -95px;
  left: -70px;
  z-index: -1;
}

.contact-main .contact-map .contact2 {
  margin-left: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-main .contact-map .contact2 .contact-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-main .contact-map .contact2 .contact-order h5 {
  font-family: "Cera Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/**
 * Box model adjustments
 * `border-box`... ALL THE THINGS - http://cbrac.co/RQrDL5
 */
/**
  * 1. Force a vertical scrollbar - http://cbrac.co/163MspB
  * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
  * NOTE: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
  * NOTE: IE for Windows Phone 8 ignores `-ms-text-size-adjust` if the
  *       viewport <meta> tag is used - http://cbrac.co/1cFrAvl
  */
/**
  * 1. Inherits percentage declared on above <html> as base `font-size`
  * 2. Unitless `line-height`, which acts as multiple of base `font-size`
  */
/* Page wrapper */
.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 4rem;
  text-align: center;
}

/**
  * Modals ($modals)
  */
/* 1. Ensure this sits above everything when visible */
.modal {
  position: absolute;
  z-index: 10000;
  /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 8em;
  left: 28%;
  width: 52em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  padding: 30px;
}

.modal-transition {
  -webkit-transition: all 0.3s 0.12s;
  transition: all 0.3s 0.12s;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.modal-content {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 3rem;
  color: #989898;
}

.modal-content .modal-contents {
  display: -ms-grid;
  display: grid;
}

.modal-content .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-header {
  position: relative;
  background-color: #fff;
}

.modal-close {
  position: absolute;
  top: -1rem;
  right: 0;
  padding: 0.5em;
  color: #fd5f00;
  background: none;
  border: 0;
}

.modal-close:hover {
  color: #777;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 400px;
    margin: 4rem;
    text-align: center;
  }
  .modal-wrapper {
    width: 400px;
  }
  .modal-img img {
    grid-column: 1/-1;
  }
  .modal-contents {
    grid-column: 1/-1;
  }
  .modal-contents .content1 {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    max-width: 400px;
    margin: 2rem;
    text-align: center;
  }
  .modal-wrapper {
    width: 400px;
    left: 0.7rem;
  }
}

@media only screen and (max-width: 375px) {
  .wrapper {
    max-width: 300px;
  }
  .modal-wrapper {
    max-width: 300px;
    left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .mainHeader {
    height: 80px;
  }
  .hero-slider {
    /* Slideshow container */
  }
  .hero-slider .slideshow-container .next {
    right: 90px;
  }
  .hero-slider .slideshow-container .prev {
    left: 90px;
  }
}

@media only screen and (max-width: 768px) {
  .contact-main {
    padding: 2rem 4rem;
  }
  .contact-main h2 {
    margin: 2rem auto;
  }
  .contact-main .contact-map {
    -ms-grid-rows: 300px auto;
        grid-template-rows: 300px auto;
    grid-row-gap: 2rem;
  }
  .contact-main .contact-map .contact1 {
    grid-column: 1/-1;
    position: relative;
  }
  .contact-main .contact-map .contact1 iframe {
    width: 100%;
    height: 100%;
  }
  .contact-main .contact-map .contact1 img {
    position: absolute;
    top: -75px;
    left: -50px;
    z-index: -1;
  }
  .contact-main .contact-map .contact2 {
    grid-column: 1/-1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-row-gap: 1rem;
  }
  .contact-main .contact-map .contact2 .contact-order {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid .row .about-us .about-pic {
    grid-column: 1/-1;
    max-height: 250px;
    width: auto;
    position: relative;
  }
  .grid .row .about-us .about-pic .abtImg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 10;
  }
  .grid .row .about-us .about-pic #about-bgImg {
    position: absolute;
    left: -70px;
    top: -70px;
    width: 150px;
    height: 150px;
    z-index: -1;
  }
  .grid .row .about-us .about-para {
    grid-column: 1/-1;
    height: 250;
    max-width: 400px;
    font-size: 18px;
  }
  .grid .row.delivery-section {
    margin: 4rem 0;
  }
  .grid .row.delivery-section .delivery {
    display: -ms-grid;
    display: grid;
    margin: 1fr;
    grid-gap: 2rem 0;
  }
  .grid .row.delivery-section .delivery .delivery-img {
    grid-column: 1/-1;
  }
  .grid .row.delivery-section .delivery .delivery-img img {
    width: 100%;
  }
  .grid .row.delivery-section .delivery .delivery-contact {
    grid-column: 1/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid .row.delivery-section .delivery .delivery-contact .cont1 {
    margin-top: 3rem;
  }
  .menu-section {
    position: relative;
    margin: 4rem auto;
    padding: 4rem auto;
  }
  .menu-section .menu-img {
    top: -90px;
    margin: auto 8rem;
    margin-top: -4rem;
    padding: 4rem 3rem;
    grid-row-gap: 4rem;
  }
  .menu-section .menu-img .menu1 {
    grid-column: 1/-1;
    grid-row-gap: 2rem;
  }
  .menu-section h2 {
    padding-top: 24rem;
  }
  .menu-section .side-table .main-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 3rem;
  }
  .menu-section .side-table .main-table .tab .grid .tablinks {
    border: none;
    background-color: transparent;
    margin: 1rem;
    font-size: 24px;
  }
  .menu-section #menu-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 120px 120px 120px 120px;
        grid-template-rows: 120px 120px 120px 120px;
    grid-gap: 2rem 4rem;
    padding: 2rem 4rem;
  }
  .menu-section #menu-list .list1 {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .hero-slider {
    margin-bottom: 3rem;
    /* Slideshow container */
  }
  .hero-slider .slideshow-container {
    height: 400px;
    position: relative;
    margin: auto;
    /* Hide the images by default */
    /* Position the "next button" to the right */
  }
  .hero-slider .slideshow-container .mySlides {
    display: none;
    /* Caption text */
  }
  .hero-slider .slideshow-container .mySlides .text h1 {
    font-size: 3rem;
  }
  .hero-slider .slideshow-container .mySlides img {
    height: 400px;
  }
  .hero-slider .slideshow-container .next {
    right: 60px;
  }
  .hero-slider .slideshow-container .prev {
    left: 60px;
  }
  footer .container .footer-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  footer .copyright .grid1 {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .copyright .grid1 .copyright-2 span {
    color: #2680eb;
  }
}

@media only screen and (max-width: 576px) {
  .hero-slider {
    /* Slideshow container */
  }
  .hero-slider .slideshow-container {
    height: 380px;
    /* Position the "next button" to the right */
  }
  .hero-slider .slideshow-container .mySlides .text h1 {
    font-size: 2rem;
  }
  .hero-slider .slideshow-container .mySlides img {
    height: 380px;
  }
  .hero-slider .slideshow-container .next {
    right: 30px;
    padding: 5px;
  }
  .hero-slider .slideshow-container .prev {
    left: 30px;
    padding: 5px;
  }
  .menu-section .menu-img {
    top: -90px;
    margin: auto 2rem;
    margin-top: -4rem;
    padding: 2rem 1rem;
    grid-row-gap: 1rem;
  }
  .menu-section .menu-img .menu1 {
    grid-column: 1/-1;
    grid-row-gap: 0.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-section .menu-img .menu1 img {
    height: 50px;
  }
  .menu-section h2 {
    padding-top: 24rem;
    font-size: 2rem;
  }
  .menu-section .side-table .main-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 4rem;
  }
  .menu-section .side-table .main-table .tab .grid .tablinks {
    border: none;
    background-color: transparent;
    margin: 1rem;
    font-size: 24px;
  }
  .menu-section #menu-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 120px 120px 120px 120px;
        grid-template-rows: 120px 120px 120px 120px;
    grid-gap: 2rem 4rem;
    padding: 2rem 4rem;
  }
  .menu-section #menu-list .list1 {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .grid .row.delivery-section h2 {
    font-size: 2rem;
  }
  footer .container .footer-section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  .hero-slider {
    /* Slideshow container */
  }
  .hero-slider .slideshow-container {
    height: 380px;
    /* Position the "next button" to the right */
  }
  .hero-slider .slideshow-container .mySlides .text h1 {
    font-size: 1.75rem;
  }
  .hero-slider .slideshow-container .mySlides img {
    height: 380px;
  }
  .hero-slider .slideshow-container .next {
    right: 30px;
    padding: 5px;
    font-size: 12px;
  }
  .hero-slider .slideshow-container .prev {
    left: 30px;
    padding: 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .row {
    margin: 0 120px;
  }
}

@media screen and (max-width: 768px) {
  .row {
    margin: 0 60px;
  }
}

@media screen and (max-width: 576px) {
  .row {
    margin: 0 30px;
  }
}
/*# sourceMappingURL=style.css.map */