@import 'variables';
@import 'typography';
@import 'grid';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cera Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


// @import 'header';
@import 'banner-slider';
 @import 'topNav';
@import 'mobile';
@import 'topNav';
@import 'mobile';
@import 'banner';
@import 'about-us';
@import 'delivery';
