.grid {
  .row.delivery-section {
    margin: 4rem 0;
    .delivery {
      display: grid;
      margin: 1fr;
      // grid-template-rows: 400px auto;
      grid-column-gap: 2rem;
      .delivery-img {
        grid-column: 1/-1;
        img {
          width: 100%;
        }
      }
      .delivery-contact {
        grid-column: 1/-1;
        .cont1 {
          margin-top: 3rem;
          justify-content: center;
          .call1 {
            color: $textColor1;
          }
        }
      }
    }
  }
}
